<div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @topic.title %></h2>
    </div>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" >
       <a href="#">文章分類: <%= @topic.category.name %></a>
      </li>

      <li role="presentation">
        <a href="#">文章群組:
          <% @topic.selects.each do |s| %>
          <%= s.name %>
          <% end %>
        </a>
      </li>

      <li role="presentation">
        <a href="#">留言數：<span class="badge"><%= @reviews.count %></span></a>
      </li>
    </ul>

      <%# 文章分類: <%= @topic.category.name %>

        <%# 文章群組: @topic.selects.each do |s| %>
          <%# s.name %>
        <%# end %>

    <div class="panel-body">
      <%= @topic.article %>
      <%= form_for @review, :url => { :controller => 'topic_reviews', :action => 'create' } do |f| %>
          <%= render :partial => 'form', :locals => { :f => f } %>
          <%= link_to '回到論壇首頁', topics_path, :class => "btn btn-default" %>
          <%= f.submit "新增留言", :class => "btn btn-primary" %>
      <% end %>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th>留言者</th>
        <th>留言內容</th>
        <th>留言時間</th>
        <th>工具</th>
      </tr>
    </thead>
  <% @reviews.each do |review| %>
    <tbody>
      <td>
        <%= review.user.try(:first_name) %>
      </td>
      <td>
        <%= review.comment %>
      </td>
      <td>
        <%= review.created_at %>
      </td>
      <td>
        <%= link_to '刪除留言', topic_review_path(@topic, review),:method => :delete, :class => "btn btn-danger" %>
      </td>

      <% end %>
    </tbody>
  </table>
</div>

<%# link_to "新增留言", new_topic_review_path, :class => "btn btn-primary"  %>
