<% if @topic.errors.any? %>
  <ul>
    <% @topic.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
  <%= f.label :title, "文章標題：" %>
  <%= f.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :category_id, "文章分類：" %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <%# f.select :category_id,[["name"],1], :class => "form-control" %>

  <%= f.label :category_id, "文章群組：" %>
  <%= f.collection_check_boxes(:select_ids, Select.all, :id, :name) %>
</div>

<div class="form-group">
  <%= f.label :article, "內文：" %>
  <%= f.text_area :article, :class => "form-control" %>
</div>